@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&family=Playfair+Display:ital@0;1&display=swap');

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@theme{
        /* Colors */
  --color-primary: #4A90E2;
  --color-secondary: #FFC857;
  --color-accent: #1ABC9C;
  --color-darktext: #333333;
  --color-lighttext: #7D7D7D;
  --color-bgsoft: #F5F5F5;

  /* Fonts */
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --font-quote: 'Playfair Display', serif;
}


:root {
 /* Layout */
  --navbar-height: 3rem; /* height of your fixed navbar */
}

main {
  padding-top: var(--navbar-height);
}

